<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<!-- 开启扫描 -->
	<context:component-scan base-package="com.zhidi.controller"/>
	<!--开启springMVC 注解驱动 -->
	<!-- 3，将格式化转换工厂注册到注解驱动 -->
	<mvc:annotation-driven conversion-service="ConversionService"/>
	<!-- 视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 添加前缀 -->
		<property name="prefix" value="/WEB-INF/page/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	<!-- 1，将自定义的时间转化器，放入Bean中 -->
	<bean id="dateConverter" class="com.zhidi.util.DateConverter"/>
	<!-- 2，将格式化转换器工厂放入到Bean中，并将自定义的日期转化器注入到格式化转换器工厂 -->
	<bean id="ConversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters" ref="dateConverter"/>
	</bean>
</beans>